.trailer__card {
    max-width: 350px;
    max-height: 200px;
    margin: 20px 20px;
}

.trailer__cover {
    max-height: 200px;
    cursor: pointer;
    transition: transform 150ms ease;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    &:active {
        transform: scale(1);
    }
}