.catalog {
    padding-top: 200px;
    margin-bottom: 50px;

    @media screen and (max-width: 1199.98px) {
        padding-top: 150px;
    }

    @media screen and (max-width: 991.98px) {
        padding-top: 100px;
    }

    &__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
}

.pagination {
    margin-bottom: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #fff;
    background-color: #151515;
    border-radius: 24px;
    box-shadow: 0px 0px 15px 10px #151515;

    li {
        margin: 0px 5px;
        font-weight: 700;

        padding: 8px 6px;
        cursor: pointer;
        font-size: 25px;

        @media screen and (max-width: 991.98px) {
            font-size: 22px;
        }

        @media screen and (max-width: 479.98px) {
            font-size: 18px;
        }

        @media screen and (max-width: 390.98px) {
            font-size: 16px;
        }

        @media screen and (max-width: 320.98px) {
            font-size: 14px;
            padding: 5px 4px;
        }

        a {
            padding: 8px 6px;

            @media screen and (min-width: 479.98px) {
                padding: 0px 0px;
            }

            @media screen and (max-width: 390.98px) {
                padding: 0px 0px;
            }

            @media screen and (max-width: 320.98px) {
                padding: 0px 0px;
            }
        }

        &:hover {
            color: #151515;
            background-color: #ff0000ba;
            border-radius: 8px;
        }
    }
}

.active__pagination {
    color: #151515;
    background-color: #ff0000ba;
    border-radius: 8px;
}