.slick-prev {
    padding: 250px 50px;
    z-index: 4;
    left: 10px;
}

.slick-next {
    padding: 250px 50px;
    z-index: 4;
    right: 10px;
}

.slick__hero {
    max-width: 100%;
    box-shadow: 0px 0px 15px 10px #151515;

    @media screen and (max-width: 479.98px) {
        .slick-prev {
            padding: 250px 35px;
            z-index: 4;
            left: -18px;
        }

        .slick-next {
            padding: 250px 35px;
            z-index: 4;
            right: 1px;
        }
    }

    @media screen and (max-width: 390.98px) {
        .slick-prev {
            padding: 250px 25px;
            z-index: 4;
            left: -18px;
        }

        .slick-next {
            padding: 250px 25px;
            z-index: 4;
            right: 1px;
        }
    }
}

.slick__cards {
    max-width: 100%;

    .slick-prev {
        padding: 120px 25px;
        z-index: 4;
        left: 5px;
        top: 140px;
    }

    .slick-next {
        padding: 120px 25px;
        z-index: 4;
        right: 25px;
        top: 140px;
    }

    @media screen and (max-width: 390.98px) {
        .slick-prev {
            z-index: 4;
            padding: 120px 25px;
            left: 5px;
            top: 140px;
        }

        .slick-next {
            z-index: 4;
            padding: 120px 25px;
            right: 25px;
            top: 140px;
        }
    }
}

.slick__scroll {
    max-width: 100%;

    .slick-prev {
        &::before {
            display: none;
        }
    }

    .slick-next {
        &::before {
            display: none;
        }
    }

    @media screen and (max-width: 479.98px) {
        .slick-prev {
            padding: 160px 25px;
        }

        .slick-next {
            padding: 160px 25px;
        }
    }

    @media screen and (max-width: 390.98px) {
        .slick-prev {
            padding: 120px 30px;
        }

        .slick-next {
            padding: 120px 30px;
        }
    }
}