.search-page {
    padding-top: 127px;
    font-size: 45px;
    letter-spacing: 3px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media screen and (max-width: 1199.98px) {
        font-size: 35px;
    }

    @media screen and (max-width: 991.98px) {
        padding-top: 87px;
        font-size: 30px;
    }

    @media screen and (max-width: 479.98px) {
        font-size: 20px;
    }
}

.search__list{
    padding-top: 200px;
}